footer {
    margin-left: 37%;
}

nav a {
    text-decoration-line: underline;
    color: white;
}

a:hover {
    color: black;
    text-decoration-line: double;
}

.card-body {
    background-color: black;
}

p {
    font-size: larger;
}
#title-banner{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    
}


#cards,
#skills {
    margin-top: 2%;
}